/lesson1-2/guessing_game/target
/lesson1-2/guessing_game/Cargo.lock
/lesson1-2/guessing_game/.vscode
/lesson1-2/guessing_game/.idea   
/lesson1-2/hello_cargo/target
/lesson1-2/hello_cargo/Cargo.lock
/lesson1-2/hello_cargo/.vscode
/lesson1-2/hello_cargo/.idea
/lesson3/variables/target
/lesson3/variables/Cargo.lock